{
  "project_info": {
    "project_number": "945953187942",
    "project_id": "todoa-e26b3",
    "storage_bucket": "todoa-e26b3.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_AFTER_FLUTTERFIRE_CONFIGURE",
        "android_client_info": {
          "package_name": "app.lapis.todo"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
